.post-page{
    margin: 0 auto;
}
.post-page__title {
    text-align: center;
    padding-bottom: 5px;
}
.post-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}



.filter-icon > svg{
    position: absolute;
    top: 55%;
    right: 5%;
    transform: translateY(-50%);
    width: 25px;
    height: 27px;
    cursor: pointer;
}

.filter {
    height: auto;
    opacity: 1;
    border: 1px solid #cecdcd;
    border-radius: 10px;
    background-color: rgba(255, 198, 165, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    transition: opacity 0.3s linear;
}

.filter__item {
    font-size: 16px;
    font-weight: 500;
}

.filter--hide {
    height: 0;
    opacity: 0;
    overflow: hidden;
}

.filter__order {
    transform: rotate(180deg);
}

.filter-list {
    cursor: pointer;
}

.filter-list {
    display: flex;
    gap: 5px;
}

.pagination  {
    display: flex;
    justify-content: center;
}

.posts {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: flex-start;
}