.post-page{
    margin: 0 auto;
}
.post-page__title {
    text-align: center;
    padding-bottom: 5px;
}
.post-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.post-count {
    position: relative;
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.post-count__item {
    position: relative;
    display: inline;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.post-count__item:not(:last-child) {
    margin-right: 10px;
}

.post-count__item::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: -1px;
    width: 0;
    height: 2px;
    background-color: #FA7E61;
    transition: width 0.3s;
}

.post-count__item--active::before, 
.post-count__item:hover::before {
    width: 100%;
    transition: width 0.3s;
}

.filter-icon > svg{
    position: absolute;
    top: 55%;
    right: 5%;
    transform: translateY(-50%);
    width: 25px;
    height: 27px;
    cursor: pointer;
}

.filter {
    height: auto;
    opacity: 1;
    border: 1px solid #cecdcd;
    border-radius: 10px;
    background-color: rgba(255, 198, 165, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    transition: opacity 0.3s linear;
}

.filter__item {
    font-size: 16px;
    font-weight: 500;
}

.filter--hide {
    height: 0;
    opacity: 0;
    overflow: hidden;
}

.filter__order {
    transform: rotate(180deg);
}

.filter-list {
    cursor: pointer;
}

.filter-list {
    display: flex;
    gap: 5px;
}

.pagination  {
    display: flex;
    justify-content: center;
}

.posts {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: flex-start;
}