.post {
    width: auto;
    min-width: 300px;
    min-height: 150px;
    max-width: 800px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 5px;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);  
}

/* .post:hover::before {
    z-index: 20;
    position: absolute;
    content: "";
    border-radius: 20px;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    background-color: rgba(0, 0, 0, 0.15);
} */

.post__head {
    display: flex;
    justify-content: start;
    align-items: baseline;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    position: relative;
    font-size: 24px;
    color: #2b2b2b;
}

.post__head::after {
    z-index: -1;
    content: "";
    top: -1px;
    left: -25px;
    right: -25px;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
    background-color: #ffc6a5;
    position: absolute;
}

.checkbox {
    position: absolute;
    right: 2%;
    top: 100px;
}

.post__title {
    margin: 0;
    padding: 0;
    font-size: 18px;
    margin-left: 10px;
}

.post__descr {
    max-width: 700px;
    color: #353634;
}

.btn-wrapper {
    display: flex;
    justify-content: space-between;
}

.comments {
    margin-bottom: 15px;
}

.post-option {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -18%;
}
